<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineverse Cloud Project</title>
    <head>
        <link href="css/styles.css" rel="stylesheet" type="text/css"></link>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="wrapper" style="padding: 20px;">
            <div class="alert alert-success" role="alert" id="actionAlert" style="display: none;">
            </div>
            
            <div class="single-movie">
                <a href="/singlemoviearticle"></a>
                <% if(singlemoviearticle != null) { %>
                    <h3 style="text-align: center;color:cornflowerblue;font-size: 40px">
                        <strong><%- singlemoviearticle.original_title %></strong>
                    </h3>
                    <p style="color:indianred; font-size: 25px" ><u> Overview </u> </p>
                    <p style="font-size: 20px; font-family: 'Helvetica'"><%- singlemoviearticle.overview %></p>
                    <p style="color: indianred; font-size: 25px" ><u> Release Date </u> </p>
                    <p style="font-size: 20px;font-family: 'Helvetica'"><%- singlemoviearticle.release_date %></p>
                    <p style="color: indianred; font-size: 25px" ><u> Popularity </u> </p>
                    <p style="font-size: 20px;font-family: 'Helvetica'"><%- singlemoviearticle.popularity %></p>
                    <p style="color: indianred; font-size: 25px" ><u> Vote Count</u> </p>
                    <p style="font-size: 20px;font-family: 'Helvetica'"><%- singlemoviearticle.vote_count %></p>
                    <input type="hidden" id="id" value="<%- singlemoviearticle.id %>">
                    <input type="hidden" id="original_title" value="<%- singlemoviearticle.original_title %>">
                    <button type="button"
                        style="background-color: honeydew; font: bold 14px Helvetica; color: cornflowerblue;width: 150px;padding:15px"
                        movie-id="<%- singlemoviearticle.id %>" movie-title="<%- singlemoviearticle.original_title %>"
                        onclick="buy(this.getAttribute('movie-id'), this.getAttribute('movie-title'))" autofocus>Buy</button>
                    <button type="button"
                        style="background-color: honeydew; font: bold 14px Helvetica; color: cornflowerblue;width: 150px;padding:15px"
                        movie-id="<%- singlemoviearticle.id %>" movie-title="<%- singlemoviearticle.original_title %>"
                        onclick="favorite(this.getAttribute('movie-id'), this.getAttribute('movie-title'))" autofocus>Favorite</button>
                    <% } else { %>
                        No posts found.
                        <% } %>
            </div>
        </div>
        
        
    </body>
</html>